<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boilerplate</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <script src='/js/mapbox-gl.js'></script>
    <!-- <script src='/js/mapbox-gl.js.map'></script> -->
    <link href='/css/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/loading.css">
    <script src="/js/jquery.min.js"></script>




</head>

<body class="d-flex flex-column vh-100">

    <%- include('../partials/navbar') %>
    <div id="cluster-map"></div>

    <main class="container mt-5">
        <%- include('../partials/flash') %>
        <%- body %>

    </main>

    <%- include('../partials/footer') %>

    <%- include('../partials/loading') %>

    <!-- <div class="loader-wrapper">
        <h3 class="mb-5">
            Thank you for your patience!
            <br>
            The page will load shortly :)

        </h3>
        <br>

        <span class="loader mt-3">
            <span class="loader-inner"></span>
        </span>
    </div> -->

    <!-- <div class="loader-wrapper">
        <h3 class="mb-5">
            Thank you for your patience!
            <br>
            The page will load shortly :)
            <br>
            <span class="loader mt-3">
                <span class="loader-inner"></span>
            </span>
        </h3>
    </div> -->


    <!-- <script src="/js/popper.min.js.map"></script> -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/validateForms.js"></script>

</body>

</html>